<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="inga" type="Inga.Configuration.IngaSection, Inga"/>
  </configSections>
  <inga logType="SimpleLogFile" logFile="d:\inga\inga.log">    
    <tasks>
      <!--<task name="Pack inetpub" type="CompressDirectories" in="c:\wwwroot\inetpub" out="d:\inga\inetpub" on="Friday,Thursday,Wednesday"/>-->
      <!--<task name="Pack logs" type="CompressDirectory" in="c:\logs" out="d:\inga\logs" />-->      
      <!--<task name="Run magic script" type="Run" in="d:\inga\run\magic.bat" out="-a 1 -b 2 -c 3"/>-->
      <!--<task name="Cleanup local inetpub" type="LocalCleanUp" in="c:\wwwroot\inetpub" retention="3"/>-->      
      <!--<task name="Copy inetpub to Azure" type="CopyFilesToAzure" in="d:\inga\inetpub" out="inga;server1/inetpub" />-->
      <!--<task name="Cleanup azure inetpub" type="AzureCleanUp" in="inga;server1/inetpub" retention="3"/>-->
    </tasks>
  </inga>
  <appSettings>
    <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=;AccountKey=" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>