<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="inga" type="Inga.Configuration.IngaSection, Inga"/>
  </configSections>
 <inga logType="SimpleLogFile" logFile="c:\backups\inga\inga.log">    
    <tasks>
      <!-- *** SOME DATA FILES *** -->
      <task name="Backup data files" type="CompressDirectory" in="c:\datafiles" out="c:\Backups\inga-source\datafiles" />
      <task name="Clean up data files (local)" type="LocalCleanUp" in="c:\Backups\inga-source\datafiles" retention="2" />
      <task name="Copy data files to Azure" type="CopyFilesToAzure" in="c:\Backups\inga-source\datafiles" out="inga;myserver1/datafiles" connection="AzureStorage 1" />
      <task name="Clean up data files (Azure)" type="AzureCleanUp" in="inga;myserver1/datafiles" retention="5" />
	  
      <!-- *** BACKUP DATABASES *** -->
      <task name="Backup databases" type="Run" in="osql" out="-i c:\backups\run.sql -U backupking -P somefishypassword" />      
      <task name="Clean up databases (local)" type="LocalCleanUp" in="c:\Backups\databases" retention="2" />
      <task name="Copy databases to Azure" type="CopyFilesToAzure" in="c:\Backups\databases" out="inga;myserver1/databases" /> 
      <task name="Clean up databases (Azure)" type="AzureCleanUp" in="inga;myserver1/databases" retention="2" connection="AzureStorage 1" />
      
      <!-- *** WWWROOT *** -->
      <task name="Backup wwwroot" type="CompressDirectories" in="c:\inetpub\wwwroot" out="c:\Backups\inga-source\wwwroot" on="Sunday" />
      <task name="Clean up wwwroot (local)" type="LocalCleanUp" in="c:\Backups\inga-source\wwwroot" retention="1" />
      <task name="Copy wwwroot to Azure" type="CopyFilesToAzure" in="c:\Backups\inga-source\wwwroot" out="inga;myserver1/wwwroot" />
      <task name="Clean up wwwroot (Azure)" type="AzureCleanUp" in="inga;myserver1/wwwroot" retention="1" connection="AzureStorage 1" /> 

      <!-- *** DOCUMENT DB *** -->
      <task name="Backup documentdb" type="DocumentDb" connection="DocumentDb 1" out="d:\Basckups\inga-source\documentdb" />
      <task name="Clean up documentdb (local)" type="LocalCleanUp" in="c:\Backups\inga-source\documentdb" retention="7" />
      <task name="Move documentdb to Azure" type="CopyFilesToAzure" in="c:\Backups\inga-source\documentdb" out="inga;documentdb" />
      <task name="Clean up documentdb (Azure)" type="AzureCleanUp" in="inga;documentdb" retention="30" connection="AzureStorage 1" /> 
    </tasks>
    <connections>
      <connection name="AzureStorage 1" type="Storage" endPoint="https" account="storageaccountname" key="SomEth1NG...=="  />
      <connection name="DocumentDb 1" type="DocumentDb" endPoint="https://mydocumentdbiscute.documents.azure.com:443" key="SomEth1NG...==" database="db" collection="hub" />
    </connections>
  </inga>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>